.App {
  text-align: center;
  background-color: blue;
  min-height: 100vh;
  width: auto;
}

input {
  height: 2em;
  margin-bottom: 2em;
}

a {
  cursor: pointer;
}

form {
  margin: auto;
  text-align: center;
}

label {
  display: block;
}

button {
  border: none;
  height: 2em;
}

